{
  "root": true,
  "extends": "eslint:recommended",
  "rules": {
    "semi": [ 2, "always" ],
    "no-extra-semi": "error",
    "eol-last": ["error"]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jquery": true
  },
  "parserOptions": {
      "sourceType": "module"
  }
}