block vars
  - var homeurl = "https://remeet.live"
  -
    var env = {
      site: {
        title: "Re:MEET LIVE | リモートでミートしてLIVEで応援",
        description: "密にならずに今、会いに行ける――リモートで握手会を再現したWebサービス「Re:Meet LIVE」（リミートライブ）",
        url: `${homeurl}/`,
        gtm: "https://www.googletagmanager.com/ns.html?id=GTM-W2C273R",
      }
    }

  -
    var support_single_list = [
      require(`~/support/play-remeet.md`),
      require(`~/support/use-remeet.md`),
      require(`~/support/miror-display.md`),
      require(`~/support/sound-fan.md`),
      require(`~/support/network-errors.md`),
      //- require(`~/support/up-bottom-error.md`),
      require(`~/support/app-in-browser.md`),
      require(`~/support/use-operations.md`),
      require(`~/support/camera-mic.md`),
      require('~/support/white-display.md'),
      require('~/support/no-safari.md'),
      require('~/support/non-face.md'),
      require('~/support/yellow-display.md'),
      require('~/support/many-many.md'),
      require('~/support/private-browser.md'),
      require('~/support/ios-update.md'),
      require('~/support/any-ticket.md')
    ]
  - var support_all_mds = support_single_list

  -
    var functions_single_list = [
      require(`~/functions/remeet-core.md`),
      require(`~/functions/remeet-default.md`),
      require(`~/functions/remeet-decoshot.md`),
      require(`~/functions/remeet-cast.md`),
    ]
  - var functions_all_mds = functions_single_list
