block vars
  - var homeurl = "https://js.akirumade.com"
  -
    var env = {
      site: {
        title: "JS飽きるまで",
        description: "",
        url: `${homeurl}/`,
        gtm: "https://www.googletagmanager.com/ns.html?id=GTM-NX8HB2V",
      }
    }


  -
    var single_list = [
      require(`~/support/app-in-browser.md`),
      //- require('~/support/node-package-latest.md'),
      //- require('~/support/checkbox-checked-submit.md'),
      //- require('~/support/js-swiper-thumbnail-pagination.md'),
      //- require('~/support/nippon_reagion_json.md'),
      //- require('~/support/signage-fullscreen-api-kiosk.md'),
      //- require('~/support/auto-list-index.md'),
      //- require('~/support/svg.md'),
      //- require('~/support/seo-scheme-json-ld-pug.md'),
      //- require('~/support/js-textarea-auto-resize.md'),
      //- require('~/support/pure-css-tab.md'),
      //- require('~/support/a11y-link-wrap.md'),
    ]
  - var all_mds = single_list
