block vars
  - var homeurl = "https://remeet.live"
  -
    var env = {
      site: {
        title: "Re:MEET LIVE | リモートでミートしてLIVEで応援",
        description: "密にならずに今、会いに行ける――リモートで握手会を再現したWebサービス「Re:Meet LIVE」（リミートライブ）",
        url: `${homeurl}/`,
        gtm: "https://www.googletagmanager.com/ns.html?id=GTM-W2C273R",
      }
    }

  -
    var single_list = [
      require(`~/support/up-bottom-error.md`),
      require(`~/support/app-in-browser.md`),
      require(`~/support/use-operations.md`),
      require('~/support/white-display.md'),
      require('~/support/no-safari.md'),
      require('~/support/private-browser.md'),
      require('~/support/ios-update.md'),
      require('~/support/any-ticket.md')
    ]
  - var all_mds = single_list
