block vars
  - var homeurl = "https://js.akirumade.com"
  -
    var env = {
      site: {
        title: "JS飽きるまで",
        description: "",
        url: `${homeurl}/`,
        gtm: "https://www.googletagmanager.com/ns.html?id=GTM-NX8HB2V",
      }
    }


  -
    var single_list = [
      require(`~/support/app-in-browser.md`),
      require(`~/support/use-operations.md`),
    ]
  - var all_mds = single_list
