@custom-media --md (min-width: 500px) and (max-width: 1024px);
@custom-media --lg (min-width: 1024px);

@keyframes fadeIn { /*animetion-nameで設定した値を書く*/
  0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}

.milk {
  margin-bottom: 0;
  * {
    box-sizing: border-box;
  }
  a {
    color: #000;
  }
  .btn-wrap {
    display: flex;
  }
  .btn {
    align-items: center;
    background: #fff;
    color: #000;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    margin: 20px 0;
    padding: .8em 1em;

    &:before {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      content: '↓';
      border-radius: 60px;
      background: #000;
      color: #fff;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5em;
    }
  }
  .section-title {
    img {
      margin: 2% auto;
    }
  }

  .global-header {
    z-index:1;
    position: fixed;
    width: 100%;
    font-size: 12px;

    .spacer {
      margin-left: auto;
    }
  }
  
  #hero {
    text-align: center;

    img {
      margin: auto;

      &.big {
        margin-bottom: 40px
      }
    }
  }
  #info {
    .section-content {
      background: #FFFFFF;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 10px 30px;

      .item {
        display: flex;
        border-top: 1px solid #000;
        padding: 20px 0;

        &:first-child {
          border-top: 0;
        }

        .label {
          flex: 0 0 150px;
        }
      }
    }
  }
  #artist {
    text-align: center;

    .section-content  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
      .item {
        width: 30%;
        margin-bottom: 10%;
        letter-spacing: 0.24em;
    
        &.artist3 .roma {
          color: #c5c5c5 !important;
        }

        img {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10%;
        }

        .roma {
          font-size: 11px;
        }

        @media (--lg) {
          width: 18%;
          margin-bottom: 0%;
        }
      }

    }
  }
  #schedule {
    p {
      text-align: center;
    }

    .scheduler {
      input {
        display: none;
      }

      > .head {
        display: flex;

        label {
          opacity: 0.6;
          width: 100%;
          padding: 10px;
          text-align: left;
          color: #fff;
          letter-spacing: 5px;
          cursor: pointer;

          &.artist3 {
            background: #fff !important;
            color: #000;
            opacity: 0.6;
          }
        }
      }

      .body {
        label {
          opacity: 0.6;
          width: 100%;
          padding: 10px;
          text-align: left;
          font-weight: bold;
          cursor: pointer;
        }

        .schedule {
          display: none;
          padding: 20px;
          border: 4px solid;
          animation: fadeIn 0 ease 0.2s 1 normal forwards;

          > .head {
            display: flex;
    
            label {
              opacity: 0.6;
              width: 100%;
              padding: 10px;
              text-align: left;
              letter-spacing: 5px;
              cursor: pointer;
    
              &.artist3 {
                color: #000;
                opacity: 0.6;
              }
            }
          }
        }

        .day {
          display: none;
          padding: 0 5px;

          > * {
            border-top: 1px solid;
            padding: 10px 0px;
          }

          .time {
            display: flex;
            width: 100%;

            &:nth-child(odd) {
              background: #eee
            }

            .label {
              width: 30%;
              max-width: 120px;
            }
          }
        }
      }

      @for $i from 0 to 5 {
        #artist$(i):checked {
          & ~ .head > .artist$(i)-label {
            opacity: 1;
          }

          & ~ .body > #artist$(i)-wrap  {
            /* animation: fadeIn 0 ease 0.3s 1 normal forwards; */
            /* opacity: 0; */
            display: block;
          }
        }

        @for $j from 0 to 2 {
          #artist$(i)day$(j):checked {
            & ~ .head > .artist$(i)day$(j)-label  {
              opacity: 1;
            }

            & ~ .body > #artist$(i)day$(j)-wrap  {
              animation: fadeIn 0.2s ease 0.3s 1 normal forwards;
              opacity: 0;
              display: block;
            }
          }
        }
      }
    }
  }
  #trailer {
    iframe {
      width: 100%;
    }
  }

  .global-footer {
    background: #000;
    padding: 5em 0;
  }
}
