@custom-media --md (min-width: 500px) and (max-width: 1024px);
@custom-media --lg (min-width: 1024px);

.single-post {
  img {
    filter: drop-shadow(2px 4px 2px rgba(0,0,0,0.5));
  }

  .title {
    font-size: 150%;
    margin-bottom: 1em;
  }

  h2 {
    font-weight: normal;
  }

  table {
    border-collapse: collapse;

    td {
      border: 1px solid #eee;
      padding: 0.5em;
    }
    td:first-child {
      white-space: nowrap;
      text-align: right;
    }
  }
}
.support {
  
}
.functions {
  .post-list-item {
    .excerpt {
      font-size: 70%;
    }
    .actions {
      text-align: right;
      text-decoration: underline;
      font-size: 80%;
    }
  }
}