@custom-media --md (min-width: 500px) and (max-width: 1024px);
@custom-media --lg (min-width: 1024px);

.single-post {
  .title {
    font-size: 120%;
    margin-bottom: 1em;
  }

  table {
    border-collapse: collapse;

    td {
      border: 1px solid #eee;
      padding: 0.5em;
    }
    td:first-child {
      white-space: nowrap;
      text-align: right;
    }
  }
}

.functions {
  .post-list-item {
    .excerpt {
      font-size: 70%;
    }
    .actions {
      text-align: right;
      text-decoration: underline;
    }
  }
}