block vars
  - var BODY_CLASS = "support"

include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        .layout
          .branding
            a(href="/") Re:Meet Live
      .global-body
        .section-content
          include /component/support-all.pug
          .contact-us
            div 当日のお問い合わせに関しましては、以下にご連絡ください
            #djThXinX(style="display:none")
              div(style="padding: 20px") 当選通知に記載されたアニメイト問い合わせください

      .global-footer
        include /component/globals/footer.pug
    .container.loading
      .inner(style="height: 100vh;width: 100%;display: flex;justify-content: center;align-items: center;")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid")
  style.
    .contact-us {
      margin-top: 2em;
      text-align: center;
    }
  script.
    const q = getUrlQueries()
    if(q.eventId) {
      const target = document.getElementById(q.eventId)
      console.log(q.eventId, target)
      target.style.display = "block"
    }
    function getUrlQueries() {
      var queryStr = window.location.search.slice(1);  // 文頭?を除外
          queries = {};

      // クエリがない場合は空のオブジェクトを返す
      if (!queryStr) {
        return queries;
      }

      // クエリ文字列を & で分割して処理
      queryStr.split('&').forEach(function(queryStr) {
        // = で分割してkey,valueをオブジェクトに格納
        var queryArr = queryStr.split('=');
        queries[queryArr[0]] = queryArr[1];
      });

      return queries;
    }