block vars
  - var BODY_CLASS = "support"

include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        .layout
          .branding
            a(href="/") Re:Meet Live
      .global-body

        .section-content
          h3 参加方法
          .flex-box
            .col
              p iPhoneをお使いの場合
              ol
                li: a(href="https://speedtest.gate02.ne.jp/") 通信環境を確認します。
                li: a(href="/support/camera-mic") Safariのカメラ・マイクの許可を確認します。
                li イヤホンを利用します。音量を確認します。
                li アプリをすべて閉じます。
                li Safariを立ち上げます。
                li タブをすべて閉じます。
                li 新しいタブを追加します。
                li URLをコピペしてアクセスします。
            .col
              p Androidをお使いの場合
              ol
                li: a(href="https://speedtest.gate02.ne.jp/")  通信環境を確認します。
                li: a(href="/support/camera-mic") Chromeのカメラ・マイクの許可を確認します。
                li  イヤホンを利用します。音量を確認します。
                li  アプリをすべて閉じます。
                li  Chromeのバージョンを最新にします。
                li  Chromeを立ち上げます。
                li  タブをすべて閉じます。
                li  新しいタブを追加します。
                li  URLをコピペしてアクセスします。
          h4 通信環境・パケット不足に注意　低速モードではご利用できません
          p 相互動画通信を行うため、参加者の電波状況により動画が停止する場合があります。キャリア通信は月末のパケット不足等にお気をつけください。不安な場合はWi-Fiをご利用ください。
          h4 
            a(href="https://event.remeet.live/n3VwOnlu/demo/") 

        .section-content
          h3 その他のご質問
          include /component/support-all.pug
          .contact-us
            div 当日のお問い合わせに関しましては、以下にご連絡ください
            #n3VwOnlu(style="display:none")
              div
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSf9EcAyWVSW5RMJi4WLnHY2RmmvVeFuxla89KrVYIEPnvtu4Q/viewform?usp=sf_link") リミート技術サポートお問い合わせページを開く
            #C3qO0014(style="display:none")
              div
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSfbVo22rUrDobj8cX0eYgJX3n9gJFDPBoaPQ9QdazyVc6Yugw/viewform") 7orderお問合せフォーム
      .global-footer
        include /component/globals/footer.pug
    .container.loading
      .inner(style="height: 100vh;width: 100%;display: flex;justify-content: center;align-items: center;")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid")
  style.
    .contact-us {
      margin-top: 2em;
      text-align: center;
    }
  script.
    const q = getUrlQueries()
    if(q.eventId) {
      const target = document.getElementById(q.eventId)
      console.log(q.eventId, target)
      target.style.display = "block"
    }
    function getUrlQueries() {
      var queryStr = window.location.search.slice(1);  // 文頭?を除外
          queries = {};

      // クエリがない場合は空のオブジェクトを返す
      if (!queryStr) {
        return queries;
      }

      // クエリ文字列を & で分割して処理
      queryStr.split('&').forEach(function(queryStr) {
        // = で分割してkey,valueをオブジェクトに格納
        var queryArr = queryStr.split('=');
        queries[queryArr[0]] = queryArr[1];
      });

      return queries;
    }

    