block vars
  - var BODY_CLASS = "single-post"
  - var LAYOUT_BODY_CLASS = "functions"

  include /component/globals/head.pug
  .page-wrap
    .container
      .global-header
        include /component/globals/header.pug
      .global-body
        .main
          .pankuz
            .wrap
              a(href="/functions") 一覧へ戻る
          include /component/single.pug
      .global-footer
        include /component/globals/footer.pug
