block vars
  - var BODY_CLASS = "single-post"
  - var LAYOUT_BODY_CLASS = "support"

  include /component/globals/head.pug
  .page-wrap
    .container
      .global-header
        include /component/globals/header.pug
      .global-body
        .main
          include /component/single.pug
      .global-footer
        include /component/globals/footer.pug
  style.
    table {
      max-width: 80%;
      width: 100%;
      margin: auto;
    }
    th {
      border: 1px solid #eee;
      font-size: 80%;
      background: #dcecf3;
      padding: 0.3em;
    }
    td {
      text-align: center;
      width: 20%;
    }
    .alert {
      background: #E7282B;
      color: #fff;
      padding: 0.5em 1em;
    }
    .red {
      color: #E7282B;
    }
    .strong {
      font-weight: bold;
    }
    ul, ol {
      padding: 0;
    }
    li {
      list-style-type: none;
    }
    .fixed {
      position: sticky;
      top: 40px;
      font-size: 80%;
      padding: 10px 0;
      background: #fffffdbd;
    }